<!-- About section -->
      <div class="section scrollspy section-gray-section" id="about">
        <div class="container">

          <h5 class="center-align">About ICSP 2021</h5>

          <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2 section-gray-body">
              <p >The International Conference on Security & Privacy (ICSP 2021) will take place at National Institute of Technology Jamshedpur, India, during November 16-17, 2021 in virtual/online mode. The ICSP 2021 aims to bring together researchers and experts in the field of security and privacy to share ideas, techniques, tools and experiences. </p>
              
              <p > <b> Important Dates </b> <br/><br/>
               <ul class="browser-default">
                <li>Submission Deadline: June 30, 2021 </li>
               <li>Acceptance Notification: September 1, 2021 </li>
               <li> Final Version Deadline: September 15, 2021 </li>
               <li> Registration Deadline: October 15, 2021 </li>
               <li> Conference Dates: November 16-17, 2021</li>
               </ul>
            </div>
          </div>


        </div>
      </div>
