			<!-- Banner section -->
      <div id="banner" class="banner">
        <div class="container" style="text-align:right">
          <h2 class="right-align banner-heading"><var>2<sup>nd</sup></var> International Conference on Security & Privacy (ICSP 2021)</h2>
          <h4 class="right-align banner-subheading">National Institute of Technology Jamshedpur, India  <br /> November 16-17, 2021 </h4>
          <br />
          <a href="{{site.registration-page}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Register Now</a>
          <br />
        </div>
      </div>
