<!-- Booths section -->
      <div class="section scrollspy section-white-section" id="program-committee">
        <div class="container">
          <h4 class="center-align section-white-header">Program Committee</h4>

          <div class="row">
           <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
             


              <p class="left">
              <b>General Chair: </b><br/><br/>

Pantelimon Stanica, Naval Post-Graduate School, USA<br/><br/>

<b>Program Chairs: </b><br/><br/>
Sihem Mesnager, University of Paris VIII, France<br/><br/>
Sumit Kumar Debnath, NIT Jamshedpur, India<br/><br/>

<b> Technical Program Committee Members: </b><br/><br/>

Kouichi Sakurai, Kyushu University, Japan<br/><br/>

Luca De Feo, IBM Research Zürich, Switzerland <br/><br/>

Bimal Kumar Roy, ISI Kolkata, India<br/><br/>

Jintai Ding, University of Cincinnati, USA<br/><br/>

Tan Chik How, NUS, Singapore <br/><br/>

Svetla Nikova, KU Leuven, Belgium<br/><br/>

Carles Padro, Polytechnic University of Catalonia, Spain<br/><br/>

Sihem Mesnager, University of Paris VIII, France<br/><br/>

Pantelimon Stanica, Naval Post-Graduate School, USA<br/><br/>

Pratish Datta, NTT Research, USA<br/><br/>

Partha Sarathi Roy, University of Wollongong, Australia<br/><br/>

Sabyasachi Dutta, University of Calgary, Canada<br/><br/>

David Naccache, ENS, France<br/><br/>

Sourav Sen Gupta, NTU, Singapore<br/><br/>
Kunal Dey, NIT Jamshedpur, India <br/><br/> 

Avishek Adhikari, Presidency University, India<br/><br/>

Sugata Gangopadhyay, IIT Roorkee, India<br/><br/>

Carmit Hazay, Bar-Ilan University, Israel<br/><br/>

Bernardo Magri, Aarhus University, Denmark<br/><br/>

Satya Bagchi, NIT Durgapur, India<br/><br/>

Shi-Feng Sun, Monash University, Australia<br/><br/>

Jason LeGrow, The University of Auckland, New Zealand<br/><br/>

Matteo Campanelli, Aarhus University, Denmark<br/><br/>

Luisa Siniscalchi, Aarhus University, Denmark<br/><br/>
Tanmay Choudhury, NIT Jamshedpur, India <br/><br/> 
Divya Ravi, Aarhus University, Denmark<br/><br/>

Mark Simkin, Aarhus University, Denmark<br/><br/>

Dheerendra Mishra, MANIT Bhopal, India<br/><br/>

Takashi Nishide, University of Tsukuba, Japan<br/><br/>

Arthur van der Merwe, University of New England, Australia<br/><br/>

Sumit Kumar Debnath, NIT Jamshedpur, India<br/><br/>

Y Sreenivasa Rao, NIT Warangal, India<br/><br/>

J. Srinivas, Jindal Global Business School, India<br/><br/>

Dipanwita Roy Chowdhury, IIT Kharagpur, India<br/><br/>

Saibal Kumar Pal, SAG LAB, DRDO, India<br/><br/>

Subrata Dutta, NIT Jamshedpur, India<br/><br/>

Kamalesh Acharya, IIT Kharagpur, India<br/><br/>

Constanza Susana Riera, Western Norway University of Applied Sciences, Norway<br/><br/>

Daniele Bartoli, University of Perugia, Italy<br/><br/>

Chunlei Li, University of Bergen, Norway<br/><br/>

Pinaki Mitra, IIT Guwahati, India<br/><br/>

Chandrashekhar Azad, NIT Jamshedpur, India<br/><br/>
Tapaswini Mohanty, NIT Jamshedpur, India <br/><br/> 
Prashant Kumar, NIT Jamshedpur, India<br/><br/>

Asis Kumar Tripathy, VIT Vellore, India<br/><br/>

Koushlendra Kumar Singh, NIT Jamshedpur, India<br/><br/>

Alekha Kumar Mishra, NIT Jamshedpur, India<br/><br/>

Nibedita Kundu, The LNMIIT Jaipur, India<br/><br/>

Chinmoy Biswas, IIT Kharagpur, India<br/><br/>
Amit Kumar Singh, IIT Kharagpur, India<br/><br/>

Bimal Mandal, Telecom Paris, France<br/><br/>

Arup Kumar Pal, IIT (ISM) Dhanbad, India<br/><br/>

Yuji Suga, Internet Initiative Japan Inc., Japan <br/><br/>

Arnab Patra, DRDO, India<br/><br/>

Shoichi Hirose, University of Fukui, Japan <br/><br/>
Vikas Srivastava, NIT Jamshedpur, India <br/><br/>                    
Koji Nuida, The University of Tokyo, Japan<br/><br/>

Mario Larangeira, Tokyo Institute of Technology/IOHK, Japan <br/><br/>

Ravi Anand, University of Hyogo, Japan<br/><br/>

Dibyedu Roy, IIIT Vadodara, India<br/><br/>

Meenakshi Kansal, IIT Madras, India<br/><br/>

Basudeba Behera, NIT Jamshedpur, India<br/><br/>

Ramprasad Sarkar, IIT Kharagpur, India<br/><br/>

Tapas Pal, IIT Kharagpur, India<br/><br/>


 
</p>
  </div>
          </div>
        </div>
      </div>

        
