<!-- About section -->
      <div class="section scrollspy section-white-section" id="registration">
        <div class="container">

          <h4 class="center-align section-white-header">Registration</h4>

              <div class="row">
              
              
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <p class="left">
              To be announced. 
            <!--  <h5> How to register: </h5><br />
              Please perform the following steps to complete the registration procedure. 
                        
              <ul class="browser-default">
                <li> Pay the registration fee through direct fund transfer to the bank account (mentioned below) within due date. </li>

    <li> Send the proof of payment of registration fee to the Organizing Secretary by email conf.icsp@gmail.com </li>
     </ul> -->
</p>

                       
            </div>
            
            <!--
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <p class="left">
              <h5> Instructions: </h5><br />
              Kindly read the following instructions carefully before submitting the online registration form.

   

              <ul class="browser-default">
         <li>       Registration is compulsory for all participants.  </li>

<li>    Registration fee is 200 INR  for participants from India and 3 USD for participants from outside of India.  </li>

 <li>   No additional charge is required for publication (if accepted). </li>

   <li> Please mention “ICSP 2020” in the place of remark/comment at the time of online transfer of the registration fee.  </li>

   <li> Transaction details (receipt of online transfer/ bank transfer) should be sent to the Organizing Secretary by email conf.icsp@gmail.com .  </li>

  <li>  Last date of registration is October 30, 2020.  </li>

    <li>Registration fee covers participation/ paper presentations including publication (if accepted) in the sessions of the conference. E-Certificate will be provided after successful participation in this conference.  </li>

    <li>Registration fee is non-refundable.  </li>
    <li>Registration fee has to be paid through direct fund transfer to the following bank account within due date.  </li>
                 Pay the registration fee through direct fund transfer to the bank account (mentioned below) within due date. </li>

    <li> Send the proof of payment of registration fee to the Organizing Secretary by email conf.icsp@gmail.com </li>
     </ul>
</p>

                       
            </div>
            
             <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <p class="left">
              <h5> Bank Account Details: </h5><br />


A/c. No: 33117999641  <br />

A/c. Name: NIT JAMSHEDPUR <br />

Bank Name: STATE BANK OF INDIA <br /> 

Branch: NIT JAMSHEDPUR <br />

IFSC CODE: SBIN0001882 <br />

MICR: 831002004 <br />

BRANCH CODE: 1882 <br />

SWIFT CODE: SBININBB761<br />
                        
</p>

                       
            </div>
            -->
          </div>


        </div>
      </div>
