<!-- Nav -->
      <div class="navbar-fixed">
        <nav class="nav">
          <div class="nav-wrapper container">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">  
              <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
              <li><a href="#about">About</a></li>
              <li><a href="#papers">Call for Papers</a></li>
              <li><a href="#speakers">Invited Speakers</a></li>
              <li><a href="#organizers">Organizers</a></li>
              <li><a href="#program-committee">Program Committee</a></li>
              <li><a href="#paperslist">Accepted Papers</a></li>
              <li><a href="#venue">Venue</a></li>
              <li><a href="#registration">Registration</a></li>
               <li><a href="#booths">Proceedings</a></li>
              <li><a href="#schedule">Schedule</a></li>
              <li><a href="#contact">Contact</a></li>
            
             
              
              
              
              
            </ul>
          </div>
        </nav>
      </div>

      <ul class="sidenav" id="mobile-demo">
       <li><a href="#about">About</a></li>
              <li><a href="#papers">Call for Papers</a></li>
              <li><a href="#speakers">Invited Speakers</a></li>
              <li><a href="#organizers">Organizers</a></li>
              <li><a href="#program-committee">Program Committee</a></li>
              <li><a href="#papers-list">Accepted Papers</a></li>
              <li><a href="#venue">Venue</a></li>
              <li><a href="#registration">Registration</a></li>
               <li><a href="#booths">Proceedings</a></li>
              <li><a href="#schedule">Schedule</a></li>
              <li><a href="#contact">Contact</a></li>
      
      </ul>
