<!-- Contact Section -->
      <div class="section scrollspy section-gray-section" id="contact">
        <div class="container">

          <h5 class="center-align">Contact</h5>

          <div class="row">
            <div class="col s12 m10 offset-m1 l8 offset-l2 section-gray-body">
              <p>For any further information, please feel free to contact: <br /> <br /> Sumit Kumar Debnath <br />Convener & Organizing Secretary, ICSP 2021	<br /> National Institute of Technology Jamshedpur <br /> Jharkhand-831014, India <br /> Email ids: conf.icsp@gmail.com , icsp@nitjsr.ac.in <br /> Mobile no: +91-7001672827 </p>
              
              
            </div>
          </div>


        </div>
      </div>
