<!-- Organizers section -->
      <div class="section scrollspy section-gray-section" id="organizers">
        <div class="container">
          <h4 class="center-align section-gray-header">Conference Organizers</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
      <p class="left">
              <b> Chief Patron: </b><br /><br />
              Prof. Karunesh Kumar Shukla, Director, National Institute of Technology Jamshedpur, India <br /><br />
                        
              
</p>
<p class="left">
              <b> Patron: </b><br /><br />
              Dr. Sunil Kumar, Head, Department of Mathematics, National Institute of Technology Jamshedpur, India <br /><br />
                        
              
</p>
<p class="left">
              <b> Chairman: </b><br /><br />
              Dr. Sourav Das, National Institute of Technology Jamshedpur, India <br /><br />
                        
              

              <b> Convener & Organizing Secretary:  </b><br /><br />
              Dr. Sumit Kumar Debnath, National Institute of Technology Jamshedpur, India

 <br /><br />
                        
              

              <b> Members:  </b><br /><br />
              Prof. Tarni Mandal, National Institute of Technology Jamshedpur, India <br /><br />

Dr. Ramayan Singh, National Institute of Technology Jamshedpur, India  <br /><br />

Dr. Sripati Jha, National Institute of Technology Jamshedpur, India  <br /><br />

Dr. Hari Shankar Prasad, National Institute of Technology Jamshedpur, India <br /><br />

Dr. Mahendra Kumar Gupta, National Institute of Technology Jamshedpur, India <br /><br />

Dr. Raj Nandkeolyar, National Institute of Technology Jamshedpur, India <br /><br />

Dr. Rajat Tripathi, National Institute of Technology Jamshedpur, India <br /><br />

Dr. Ratnesh Kumar Mishra, National Institute of Technology Jamshedpur, India <br /><br />

Dr. Snehasis Kundu, National Institute of Technology Jamshedpur, India <br /><br />


              
</p>


          </div>      

          </div>      

      </div> 
    </div>
