<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <header>
      {% include nav.html %}
    </header>
    <main>
      {% include banner.html %}
      {% include infoline.html %}
      {% include about.html %}
      {% include papers.html %}
      {% include speakers.html %}
      {% include organizers.html %}  
      {% include program-committee.html %}   
      {% include papers_list.html %} 
      {% include venue.html %}   
      {% include registration.html %}
      {% include booths.html %}     
      {% include schedule.html %} 
      {% include contact.html %}
      
         
      
      
          
         
      
    </main>
    <footer class="page-footer" style="background-color: {{site.color.primary-dark}}">
    </footer>
    {% include modals.html %}
    {% include js.html %}
</body>
</html>
